@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: Bold;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: Regular;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Raleway, sans-serif;
  background-color: #ffffff;
  color: #242424;
  font-size: 18px;
  line-height: 30px;
}

.header {
  background: #ffe17f;
  color: #000000;
}

.navigation-link-user {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.catalog-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-products-link {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.navigation-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-index {
  background-color: #ffffff;
  color: #000000;
}

.numeration-slider {
  font-family: Rubik, sans-serif;
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  color: #572d2d;
  /*Для наглядности оставлю такой цвет*/
}

.slaider-title-product {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-text-product {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #000000;
}

.more-show-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.testimony {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.characteristick-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.section-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.button-current {
  color: #b49222;
}

.delivery-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.service {
  background-color: #f0f0f0;
}

.delivery-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.delivery {
  background-color: #f0f0f0;
}

.delivery-subtitle {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.about-company-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-company-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.transport-company-text {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contacts-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts-subtitle {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.address-contacts {
  font-style: normal;
}

.contacts-phone {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #000000;
}

.subscription {
  background-color: #f0f0f0;
}

.subscription-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  text-transform: uppercase;
}

.subscription-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.subscription-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.footer-contact-adrress-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contact-phone {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button-footer-social {
  text-decoration: none;
  color: #ffffff;
}

.page-footer {
  background-color: #444444;
}

.navigation-link-footer {
  color: #ffffff;
}

.page-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.filter-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filter-group-title {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.control {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.filter {
  background-color: #f0f0f0;
}

.sorting {
  background-color: #f0f0f0;
}

.sorting-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.select-control {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.product-card-link {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: right;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-link {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 30%;
  text-decoration: none;
}

.pagination-prev {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 30%;
  text-decoration: none;
}

.pagination-next {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.contacts-phone-footer {
  color: #ffffff;
}

.footer-container {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.footer-address {
  width: 240px;
  margin-right: 120px;
}

.logo {
  margin-left: auto;
  max-width: 200px;
}

.index-columns {
  display: flex;
  width: 1160px;
  padding: 0 140px;
  margin: 0 auto;
}

.delivery-container {
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.subscription-container {
  width: 1440px;
  margin: 0 auto;
}

.service-container {
  width: 1440px;
  margin: 0 auto;
}

.products-container {
  width: 1160px;
  margin: 0 auto;
}

.catalog-products-list {
  display: flex;
}

.button-container {
  text-align: center;
}

.header-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-container {
  width: 1111px;
  margin: 0 auto;
}

.top-header-container {
  display: flex;
  align-items: center;
}

.navigation-user-list {
  display: flex;
}

.under-header-container {
  display: flex;
  align-items: center;
}

.navigation-header-list {
  display: flex;
}
